
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url("../Q-23/assets/teambg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



/* body::before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: url('https://c1.wallpaperflare.com/preview/706/825/80/iphone-mobile-notebook-open.jpg') no-repeat center center/cover ;
    opacity: .8;
} */

.line{
    height: 1px;
    width: 20px;
    background: #fff;
}

.dot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot1{
    height: 5px;
    background: red;
    width: 5px;
    border-radius: 100%;
    margin: 0 1rem;
}

.text-area{
    font-size: .8rem;
}


.subdiv{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    color:#fff;
}

.wave-img{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.wave-img svg{
    position: absolute;
    bottom: 100px;
}

.imglogo{
    height: 3rem;

    position: absolute;
}

.mainimg{
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    width: inherit;
    gap:10rem
}
.vertical{
    position: absolute;
    height: 30px;
    width: 1px;
    border: 1px solid red;
    border-radius: 100%;
    top: 335px;
    left: 544px;
}

.verti-text1{
    display: inline;
    height: 30px;
    width: 200px;
    /* border: 1px solid white; */
    position: absolute;
    top: 370px;
    left: 480px;

}
.verti-text2{
    position: absolute;
    height: 30px;
    width: 200px;
    top: 410px;
    left: 510px;
}
.i-1{
    position: absolute;
    bottom: -370px;
    border-radius: 100%;

}
.i-2{
    position: absolute;
    bottom: -330px;
    border-radius: 100%;

}
.i-3{
    position: absolute;
    bottom: -295px;
    border-radius: 100%;

}
.i-4{
    position: absolute;
    bottom: -315px;
    border-radius: 100%;

}
.i-5{
    position: absolute;
    bottom: -370px;
    border-radius: 100%;

}