*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: auto;
    margin-left: 120px;
    width: auto;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid black; */
    gap: 10px;
}
.maincard{
    height: 300px;
    width: 25%;
    background-color: whitesmoke;
    box-shadow: 2px 2px lightgray;
}
.thumb img{
    height: 100%;
    width: 100%;
}
.thumb{
    /* border: 1px solid red; */
}